{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 120,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tailwindConfig": "./tailwind.config.js",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["**/*.yml", "**/*.html", "**/*.css", "**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx", "**/*.json", "**/*.jsonc", "**/*.vue"],
            "options": {
                "tabWidth": 2
            }
      }
    ]
}
